@font-face {
    font-family: 'Gilroy';
    src: url('./Gilroy-ExtraBold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./Gilroy-Light.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./RedHatDisplay-Bold.ttf');
    font-weight: bold;
}
