.logo-loader{
	position: absolute;
}
.main-page{
	width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}
.main-page__cover-wrp{
    background-color: #1624e6;
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-page__cover{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    
}
.main-page__cover-wrp_link-block,
.main-page__cover-bottom_link-block,
.main-page__cover{
	max-width: 1510px;
	margin: auto;
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;
}
.main-page__cover-bottom_link-block,
.main-page__cover-wrp_link-block{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    flex-shrink: 0;
}
.main-page__cover-wrp_link-block{
    box-sizing: border-box;
    bottom: 0;
    position: absolute;
    /*transition: width .85s cubic-bezier(.475,.425,0,.995);*/
}
.main-page__cover-wrp_wave-bottom{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    /*transition: 0.3s ease;*/
    background-color: #fff;
	display: flex;
    justify-content: center;
}
.unlock-cover-links .main-page__cover-wrp{
	visibility: hidden;
}
.unlock-cover-links .main-page__cover-wrp_wave-bottom{
	position: fixed;
    top: 0;
    z-index: 1000;
    height: 110px !important;
    background: none;
}
.unlock-cover-links #link-resume-wave,
.unlock-cover-links #link-works-wave{
	display: none;
}
.link-block__links{
	display: inherit;
}
.main-page__cover-bottom_link-block a{
    display: block;
    color: #fff;
}
.main-page__cover-wrp_link-block a{
	display: block;
	color: #2A2A2A;
}
.link-block__links a{	
	margin-right: 40px;
}
.main-page__cover p{
	max-width: 350px;
	font-size: 18px;
	font-weight: lighter;
	margin: 0;
	color: #fff;
	line-height: 130%;
}
.main-page__cover_ahead{
    margin-bottom: 45px;
    margin-top: auto;
}
.main-page__works{
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
}
.works__work-card{
	background-color: #0066DE;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1200px;
	height: 440px;
	margin: calc(calc(100vh - 560px) / 4) 0;
	color: #fff;
	/*font-size: 96px;*/
	font-weight: bolder;
	position: relative;
	overflow: hidden;
	font-size: 0;	
}
.work-card_bg{
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
}
.main-page__footer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	margin-top: calc(calc(100vh - 560px) / -2);
}
.main-page__footer_title{
	color: #fff;
    font-size: 72px;
    font-weight: 900;
    padding: 38px 56px;
    background-color: #1624e6;
}
.main-page__footer_copy{
	padding: 40px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: lighter;
    color: #707070;
    position: absolute;
    bottom: 0;
}
h1{
	font-size: 72px;
	font-weight: bolder;
	margin: 0;
	line-height: 80%;
	color: #fff;
}
h2{
	font-size: 18px;
	font-weight: lighter;
	margin: 0;
	color: #fff;
}
.scrollbar-track{
	display: none !important;
}
#scrollbar-works{
	width: 4px;
	height: 90px;
	background-color: #c9cdff;
	transition: height 0.3s ease,
				bottom 0.3s ease,
				width cubic-bezier(.16,1,.29,.99) .667s;
	position: absolute;
	bottom: 40px;
	right: 50px;
	overflow: hidden;
}
#scrollbar-works-fill{
	width: inherit;
	background-color: #1624e6;
	background-image: url("../image/arrow.svg");
	background-repeat: no-repeat;
	/*transition: background-position cubic-bezier(.16,1,.29,.99) .667s;
    background-position: 5px 20.5px;*/
    background-position: 33px 20.5px;
}
#scrollbar-works.scrollbar-works-hide{
	height: 0px !important;
	bottom: 130px !important;
}
#scrollbar-works.scrollbar-works-button-up-style{
	width: 113px;
    cursor: pointer;
}
#scrollbar-works.scrollbar-works-button-up-style #scrollbar-works-fill{
	background-position: 33px 20.5px;
	height: inherit !important;
}
.logo-loader-wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1.4s cubic-bezier(0.79, 0.01, 0.18, 1);
	position: absolute;
	z-index: 1000;
	background-color: #fff;
}
.hide-loader .logo-loader-wrapper{
	height: 30vh;
    transform: translate3d(0, -30vh, 0);
}
.hide-loader .main-page{
	/*0.63, 0.51, 0, 1*/
	transition: transform 1.4s cubic-bezier(0.79, 0.01, 0.18, 1);
    transform: translate3d(0, 0, 0) !important;
}
